
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-center text-success">Success</h1>
<p> @ViewBag.data.Created</p>
<p> @ViewBag.data.CustomerDetails.Email</p>

<a asp-controller="Home" asp-action="Index">Back To Home</a>

